.rflex {
  
  display: -webkit-flex; //低版本的chrome
  display: -moz-flex; //低版本的firefox
  display: -ms-flex; //IE10
  display: flex;
  flex-direction: row;
}
.cflex {
  display: -webkit-flex; //低版本的chrome
  display: -moz-flex; //低版本的firefox
  display: -ms-flex; //IE10
  display: flex;
  flex-direction: column;
}
.wflex {
  flex: 1;
}
#menu_page .el-menu-item:hover,
#menu_page  .el-submenu__title:focus,#menu_page .el-submenu__title:hover {
  background-color: #263445 !important;
}